body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: linear-gradient(#264b99, #5d8ed8);
}

.App {
  text-align: center;
  background-color: #ffffff;
}


.App-link {
  color: #61dafb;
}

