.Login {
    text-align: center;
    background-color: #264b99;
  }

.Container{
    min-height: 100vh;
    background-color: #264b99;
}


.Formbox{
    margin-top: 30px;
    width: 50%;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #264b99;
    display: inline-block;
}

    .label{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
        float: left;
    }

    .errorlabel{
        margin-top: 10px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 25px;
        color: rgb(0, 0, 0);
    }

    .button {
        background-color: #ffffff;
        border: none;
        color: #000000;
        padding: 15px 32px;
        width: 50%;
        padding: 12px 20px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

input[type=text] {
    background-color: #ffffff;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=password] {
    background-color: #ffffff;
    font-size: 15px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

  