.Container{
  min-height: 100vh;
  background-image: linear-gradient(#264b99, #3569b8);
}

.GameList{
  width: 80%;
  margin:auto;
  padding-top: 30px;
  font-size:20px;
}

.Game{
  width: 33%;
  height: 100%;
  display:flex;
  flex-direction: column;
  float:left;
  margin: 25px 0;
  padding: 5px;
}

.Game:hover{
  cursor:pointer;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
  
.GameImage{
  width: auto;
  margin: auto;
  margin-bottom: 10px;
  height: 200px;
}

